body {
  font-family: 'Playfair Display';
}

h1 {
  color: red;
  text-align: center;
}

p {
  text-align: left;
}

.container {
  width: 80%;
  margin: auto;
  border: 5px red solid;
}

.firstdiv {
  background-color: #333;
  color: #fff;
  margin: auto;
  padding: 5px;
}

p.paragraph {
  color: #fff;
  padding: 10%;
}
